<nav class="ui stackable menu nav">

  
  <header class="ui header item"> 
    <a href="/" style="color: white;"> 🎬 Movie Collections </a>
  </header>
  
  <div class="right menu">
     <a href="/dashboard" style="color: white;"> Dashboard </a>
      <a href="/about" style="color: white;"> About </a>
    
    
  </div>


</nav>

<script>
 document.querySelector("#{{id}}").classList.add("active");
</script>
