{{> menu}}

<section class="ui center aligned middle aligned segment start">
  
  <h1>Welcome to my Movie Collections!</h1>

  <p>This Web application contains movies that i love.</p>

 <img src="/images/movies.jpg" class="image">
    

</section>
